<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan Zajęć</title>
    <style>
        {{ cssContent|raw }}
    </style>

    <script>

        {{ jsContent|raw }}



    </script>

</head>
<body>
<div class="container">
    <div class="sidebar">
        <div class="search-section">
            <button class="btn search">Szukaj</button>
            <button class="btn options">...</button>
            <button class="btn clear">✖</button>
        </div>
        <div class="query-list">
            {# templates/calendar/form.html.twig #}
            {{ form_start(form, {'method': 'GET', 'action': path('app_calendar')}) }}
            {{ form_row(form.teacher)}} {# {'attr':{'class':'autocomplete-teacher'}})#}
            {{ form_row(form.room) }}
            {{ form_row(form.course) }}
            {{ form_row(form.group) }}
            {{ form_row(form.album) }}
            <button type="submit" class="btn add-query">Dodaj zapytanie</button>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="calendar-section">
        <div class="calendar-header">
            <button class="btn prev">◀</button>
            <button class="btn next">▶</button>
            <button class="btn today">Dzisiaj</button>
            <select class="view-selector">
                <option value="tydzien">Tydzień</option>
                <option value="dzien">Dzień</option>
                <option value="miesiac">Miesiąc</option>
            </select>
        </div>
        <div class="calendar-container">
            <!--
             Kalendarz
             -->
        </div>
        <button class="settings-icon">⚙</button>
    </div>
</div>

</body>
</html>